@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: NotoSansJPRegular;
  src: url("../fonts/NotoSansJP-Regular.otf");
  font-display: swap;
}
