.dialog {
  position: fixed;
  left: 25%;
  top: 15%;
  width: 50%;
  height: 70%;
  font-family: NotoSansJPRegular;
  z-index: 200;

  .header,
  .contents,
  .button {
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    height: 60px;
    padding: 11px 15px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    background-color: #fff;
    border-bottom: solid 1px #9e9e9e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .contents {
    width: 100%;
    height: calc(100% - 60px);
    padding: 30px 15px;
    position: absolute;
    left: 0;
    top: 60px;
    font-size: 18px;
    overflow-y: auto;
    background-color: #eeeeee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    a {
      color: #2196f3;

      &:hover {
        color: #64b5f6;
      }
    }

    .logo {
      margin-bottom: 30px;
      text-align: center;
    }

    .version,
    .license {
      font-family: RobotoRegular, NotoSansJPRegular;
    }

    .version {
      margin-bottom: 40px;
      text-align: center;
      font-size: 24px;
    }

    .license {
      text-align: center;
    }
  }
  .button {
    padding: 6px 20px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: #212121;
    background-color: #bdbdbd;
    border-radius: 20px;
    transition-property: background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    &:hover {
      color: #fafafa;
      background-color: #212121;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .dialog {
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 700px) {
  .dialog {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 500px) {
  .dialog .contents .logo img {
    width: 80%;
  }
}

@media screen and (max-height: 500px) {
  .dialog {
    height: 90%;
    top: 5%;
  }
}
